{% extends 'base.html.twig' %}

{%  block content %}


    <div class="row justify-content-md-center" >

        {%  for product in array %}

            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src= "image/{{ product }}.jpeg" class="card-img-top" alt=" ">

                    <div class="card-body">
                        <h5 class=" card-title">{{ product }}</h5>
                    </div>
                </div>
            </div>


    {%  endfor %}
 </div>

{% endblock %}